
<h1><bold>Recoms Privacy Policy</bold></h1>
<br>
<br>


When you use Recoms services, you trust us with your information. This Privacy Policy is meant to help you understand what data we collect, why we collect it, and what we do with it. This is important; we hope you will take time to read it carefully.
<br>
<br>
<br>
<bold>Privacy Policy:</bold>
<br>
<br>

There are many different ways you can use our services – to search for and share information, to communicate with other people or to create new content. When you share information with us, for example by creating a Recoms Account, we can make those services even better – to show you more relevant search results and ads, to help you connect with people or to make sharing with others quicker and easier. As you use our services, we want you to be clear how we’re using information and the ways in which you can protect your privacy.
<br>
<br>
<br>
<bold>Our Privacy Policy explains:</bold>
<br>
<br>

What information we collect and why we collect it.
<br>
How we use that information.
<br>
The choices we offer, including how to access and update information.
<br>
<br>

We’ve tried to keep it as simple as possible, but if you’re not familiar with terms like cookies, IP addresses, pixel tags and browsers, then read about these key terms first. Your privacy matters to Google so whether you are new to Recoms or a long-time user, please do take the time to get to know our practices – and if you have any questions contact us.
<br>
<br>
<br>
<bold>Information we collect:</bold>
<br>
<br>

We collect information to provide better services to all of our users – from figuring out basic stuff like which language you speak, to more complex things like which ads you’ll find most useful, the people who matter most to you online, or which Recommendations you might like.
<br>
<br>
<br>

<bold>We collect information in the following ways:</bold>

Information you give us: For example, many of our services require you to sign up for a Recoms Account. When you do, we’ll ask for personal information, like your name, email address, telephone number or credit card to store with your account. 
<br>

Information we get from your use of our services: We collect information about the services that you use and how you use them, like when you favourite a recommendation, or view and interact with our ads and content. This information includes:
<br>

<bold>Device Information:</bold>
<br>
<br>

We collect device-specific information(such as your hardware model, operating system version, unique device identifiers, and mobile network information including phone number). Recoms may associate your device identifiers or phone number with your Recoms Account.








